<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/else.css">
    <script src="js/jqku.js"></script>
    <script src="js/else.js"></script>
</head>
<body>
    <div id="main">
        <div id="box">   
            <div id="top">
                <span>他人主页</span>
                <p><a href="index1_1.html">＜</a></p>
            </div>
            <div id="body">
                <div id="head">
                    <img src="img/6.jpg" alt="" id="else">
                </div>
                <p>Lucas</p>
                <h4>
                    死党二呆，其实，有你真好！
                </h4>
                <div id="charm">
                        <img src="img/1.png" alt="" id="cha">
                    </div>
                    <div id="charm1">0</div>
            </div>
        </div>
    </div>
</body>
</html>
