<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/guanli.css">
    <script src="js/jqku.js"></script>
    <script src="js/guanli.js"></script>
</head>
<body>
    <div id="password1"></div>
    <div id="main">
        <div id="box"> 
            <div id="top">
                <span>后台管理</span>
                <p><a href="index2">＜</a></p>
            </div>  
            <div id="body">
                <div id="add"><a href="index_1">＋</a> </div>
                <div class="fir">
                    <!--<div class="left">-->
                        <div class="le_1">
                            <img src="img/8.jpg" alt="" id="prc">
                        </div>
                        <p class="name">Lucas</p>
                        <h4>用户名密码</h4>
                        <span class="pass">12344534460</span>
                    <!--</div>-->
                    <!--<div class="right">-->
                        <ul>
                            <li><input type="submit" value="修改头像" class="xgtx"></li>
                            <li class="ri_2"><input type="submit" value="帐号删除" class="zhsc"></li>
                            <li><input type="submit" value="用户封禁" class="yhfj"></li>
                        </ul>
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</body>
</html>
