<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/guanli.css">
    <script src="js/jqku.js"></script>
</head>
<body>
    <div id="main">
        <div id="box"> 
            <div id="top">
                <span>后台管理</span>
                <p><a href="index2.html">＜</a></p>
            </div>  
            <div id="body">
                <div id="add"><a href="zhuce.html">＋</a> </div>
                <div id="fir">
                    <div id="left">
                        <div id="le_1">
                            <img src="img/8.jpg" alt="">
                        </div>
                        <p>Lucas</p>
                        <h4>用户名密码</h4>
                        <span>12344534460</span>
                    </div>
                    <div id="right">
                        <ul>
                            <li id="ri_1">修改头像</li>
                            <li id="ri_2" style="margin:20% 0;">账号删除</li>
                            <li id="ri_3">用户封禁</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
