<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/index.css">
<script src="js/jqku.js"></script>
<script src="js/index.js"></script>
    <script src="js/ajax_2login.js"></script>
</head>
<body>
    <div id="back2">
        <div id="box2">
            <h2 id="user2">管理员登录</h2>
            <h4 id="manager2"><a href="index">用户登录>></a></h4>
            <div id="account2">
                <span class="iconfont icon-yonghu"></span>
                <input type="text" id="text2" value="管理员">
            </div>
            <div id="account5">
                <span class="iconfont icon-hezuohuobanmiyueguanli"></span>
                <input type="password" id="text4" value="密 码">
            </div>
            <input type="submit" id="account6" value="登录">
            <p id="p3"><a href="index_3">忘记密码?</a></p>
        </div>
    </div>
</body>
</html>