<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/index_2.css">
    <script src="js/jqku.js"></script>
    <script src="js/index.js"></script>
    <script src="js/ajax_update.js"></script>
</head>
<body>
    <div id="register2">
        <div id="rebox2">
            <div id="retop2">
                <h4 id="rt3"><a href="index">＜</a></h4>
                <h4 id="rt4">找回密码</h4>
            </div>
            <p id="rebox2_p">输入用户名验证</p>
            <div id="rebody2">
                <ul style="list-style:none;width: 100%;height: 100%;">
                    <li id="rb_box2">
                        <h id="rtword4">用户名：</h>
                        <input type="text" id="rtinput4">    
                    </li>
                    <li id="rb_box2">
                        <h id="rtword5">新密码：</h>
                        <input type="text" id="rtinput5">
                    </li>
                    <li id="rb_box2">
                        <h id="rtword6">确认密码：</h>
                        <input type="text" id="rtinput6">
                    </li>
                    <input type="submit" id="btn2" value="确认">
                </ul>
            </div>
        </div>
</div>
</body>
</html>