<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/index1_1.css">
<script src="js/jqku.js"></script>
<script src="js/index.js"></script>
</head>
<body>
    <div id="main">
        <div id="box">   
            <div id="left"><a href="#">欢迎欢迎${sessionScope.USER.name}</a></div>
        </div>
    </div>
</body>
</html>