<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/index_1.css">
<script src="js/jqku.js"></script>
<script src="js/index.js"></script>
<script src="js/ajax_register.js"></script>
</head>
<body>
<div id="register1">
    <div id="rebox1">
        <div id="retop1">
            <h4 id="rt1"><a href="index">＜</a></h4>
            <h4 id="rt2">注册</h4>
        </div>
        <div id="rebody1">
            <ul style="list-style:none;width: 100%;height: 100%;">
                <li id="rb_box1">
                    <h id="rtword1">用户名：</h>
                    <input type="text" id="rtinput1">    
                </li>
                <li id="rb_box1">
                    <h id="rtword2">密码：</h>
                    <input type="password" id="rtinput2">
                </li>
                <li id="rb_box1">
                    <h id="rtword3">确认密码：</h>
                    <input type="password" id="rtinput3">
                </li>
                <input type="submit" id="btn1" value="确认">
            </ul>
        </div>
    </div>
</div>
</body>
</html>