<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/index_3.css">
<script src="js/jqku.js"></script>
<script src="js/index.js"></script>
<script src="js/ajax_2update.js"></script>
</head>
<body>
    <div id="register3">
        <div id="rebox3">
            <div id="retop3">
                <h4 id="rt5"><a href="index2">＜</a></h4>
                <h4 id="rt6">找回密码</h4>
            </div>
            <p id="rebox3_p">输入管理员用户验证</p>
            <div id="rebody3">
                <ul style="list-style:none;width: 100%;height: 100%;">
                    <li id="rb_box3">
                        <h id="rtword7">管理员：</h>
                        <input type="text" id="rtinput7">    
                    </li>
                    <li id="rb_box3">
                        <h id="rtword8">新密码：</h>
                        <input type="password" id="rtinput8">
                    </li>
                    <li id="rb_box3">
                        <h id="rtword9">确认密码：</h>
                        <input type="password" id="rtinput9">
                    </li>
                    <input type="submit" id="btn3" value="确认">
                </ul>
            </div>
        </div>
    </div>
</body>
</html>