<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/person_main.css">
    <script src="js/jqku.js"></script>
    <script src="js/person_main.js"></script>
</head>
<body>
<div id="main">
    <div id="box">
        <div id="top">
            <span>个人主页</span>
            <p><a href="index1_1">＜</a></p>
        </div>
        <div id="body">
            <div id="head">
                <img src="img/4.jpg" alt="" id="grtx">
                <a href="picture">
                    <div id="head_1">+</div>
                </a>
            </div>
            <input type="text" id="ps" placeholder="个性签名请在这里填写">
            <input type="submit" id="get" value="保存">
            <div id="name"></div>
            <span id="charm">❤</span>
            <span id="num">asdasd</span>
        </div>
        <div id="foot">
            <p id="footp1">修改密码</p>
            <ul>
                <li>&nbsp&nbsp&nbsp新密码：
                    <input type="password" id="pass">
                </li>
                <li>确认密码：
                    <input type="password" id="reps">
                </li>
            </ul>
            <input type="submit" id="qrxg" value="确认修改">
        </div>
    </div>
</div>
</body>
</html>
